<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>

<body>
    <div class="jumbotron justify-contet-center" style="margin-bottom:0px; border-radius: 0; padding: 5px;">
      <div class="col">
        <a href="/user/wiki"><ion-icon name="chevron-back-outline" class="icon mt-3 btn btn-dark">back</ion-icon></a>
    </div>
        <div class="container card mt-3 mb-5">
          
        <div class="card m-3">
            <div class="row no-gutters">
              <% componente.forEach((componente) =>{%>
    
              <div class="col-md-4"  style="max-height:700px; height: 400px; min-width: 30%;">
                <img src="/img/<%=componente.exemplo%>" class="card-img" style="height: 100%;">
              </div>
              <div class="col-md-8" style=" height: 100%;">
                <div class="card-body">
                  <h3 class="card-title"><b><%=componente.nome%></b> </h3>
                  <p class="card-text">
                    <%-componente.descricao%>  
                  </p>
                  
                </div>
              </div>
            </div>
          <% }) %>
          </div>
        </div>
    
    </div>


</body>


  
<%- include ("../partials/footer.ejs") %>