<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>
<body>
    <div class="card-header">

        <div class="container w-50 card mt-5 mb-5" style="min-height:100px;">
            
            <div class="container text-center">
                <div class="row justify-contet-center ">
                    <h3 class="mt-2 ml-3">Enviar novo desafio:</h3>
                    <form action="/user/store" method="post" style="width: 100%;">
        
                        <div class="col-sm-12 mt-2">
                            <input type="text" name="link" id="link" placeholder="Cole aqui o link do tinkercad" class="form-control"><br>
                        </div>
                        <div class="col-sm-12 mt-2">
                            <label><b>Desafio</b><br><label>
                                <select class='form-control' name='mission'>
                                    <option>Botão</option>
                                    <option>Buzzer</option>
                                    <option>Fotoresistor</option>
                                    <option>Infravermelho</option>
                                    <option>Led</option>
                                    <option>Led RGB</option>
                                    <option>Motor de passo</option>
                                    <option>Potenciômetro</option>
                                    <option>Sensor de Gás</option>
                                    <option>Sensor Ultrasônico</option>

                                </select>
                        </div>
                        <div class="col-sm-12 my-3">
                            <button type="submit" class="btn btn-outline-dark btn-lg">Adicionar</button>
                        </div>
                        </form> <br>
                </div>
            </div>
        </div>
        <% if(envios){%>
                <h2 class = 'mt-4'>Ultimos envios:<h2>
            <% envios.forEach((envios)=> { %>
                <hr>
                <% if(envios.validar == 1){%>
                    <div class = 'alert alert-success mt-2'>
                        <%=envios.mission%> : Parabéns, avante para a proxima missão!
                        <hr>
                        <% if(envios.mission == 'Missão 1'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1T_Y4lE97_XbOONDxmEJz1sjLlJeQWHDm/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 2'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1w67N3XNE8nCJE9W2zMaYTpM22cFX2Gti/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 3'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1Z_mNA7Q5ehVp4VAZHUb4sqEsik9sSJLk/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 4'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1dkxmXH7JTA7hvjd2a-u80dJhq9i83Wmt/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 5'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/13GyLLR2qlejolZGcT20ShBY-WkS52x4A/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 6'){%>
                            Ops você não possui mais missões, aguarde o resultado da potuação.
                            <%}%>
                    </div>
                <%}%>

                
                <% if(envios.validar == null){%>
                    <div class = 'alert alert-secondary'>
                        <%=envios.mission%> : Em análise.
                    </div>
                <%}%>

                <% if(envios.validar == 2){%>
                    <div class = 'alert alert-danger'>
                        <%=envios.mission%> : Não foi dessa vez, tente novamente.
                    </div>
                <%}%>
                
            <% }) %>
        <%}%>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>
