<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>
<body>
    <div class="container mt-4">

        <form action="/user/store" method="POST">
            <div class="card">
                
                <div class="card-header">
                    <h4>Enviar Missão:</h4>
                </div>
                <div class="card-body">

                    <input type="text" name="link" id="link" placeholder="Cole aqui o link do tinkercad" class="form-control"><br>
                    <label>Missão:<br><label>
                    <select class='form-control' name='mission'>
                        <option>Missão 1</option>
                        <option>Missão 2</option>
                        <option>Missão 3</option>
                        <option>Missão 4</option>
                        <option>Missão 5</option>
                        <option>Missão 6</option> 
                    </select>
                </div>

                <div class="card-footer">
                    <button class="btn btn-success btn-block">Enviar</button>
                </div>
            </div>
        </form>
        <div class="container w-50 card mt-5 mb-5" style="min-height:100px;">
            
            <div class="container text-center">
                <div class="row justify-contet-center ">
                    <h3 class="mt-2 ml-3">Adicionar novo componente:</h3>
                    <form action="/admin/addcomponente" method="post" enctype="multipart/form-data" style="width: 100%;">
        
                        <div class="col-sm-12 mt-2">
                        <input type="text" class="form-control form-control-lg" id="nome" name="nome" placeholder="Nome">
                        </div>
                        <div class="col-sm-12 mt-2">
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="img" name="img">
                              </div>
                        </div>
                        <div class="col-sm-12 mt-2">
                        <textarea name="descricao" id="descricao" cols="30" rows="5" class="form-control form-control-lg" placeholder="Características"></textarea>
                        </div>
        
        
                        <div class="col-sm-12 my-3">
                            <button type="submit" class="btn btn-outline-dark btn-lg">Adicionar</button>
                        </div>
                        </form> <br>
                  
                </div>
        
        
        </div>
        </div>
        <% if(envios){%>
                <h2 class = 'mt-4'>Ultimos envios:<h2>
            <% envios.forEach((envios)=> { %>
                <hr>
                <% if(envios.validar == 1){%>
                    <div class = 'alert alert-success mt-2'>
                        <%=envios.mission%> : Parabéns, avante para a proxima missão!
                        <hr>
                        <% if(envios.mission == 'Missão 1'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1oDWtl20QovEWXUgcDtX6uhbgGuCLSbc_/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 2'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1AlfP-M1D7TtwQRmjXvJ-9WVNo2w2Iy8X/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 3'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1uA7Z_F8qmz9HrZeP-LSNJkhfSIKzXdly/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 4'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1MK9T798g9k7Q_TypPl2kCoCd98aWSKaW/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 5'){%>
                            <a target = "_blank" href="https://drive.google.com/file/d/1n0Q1v6_zzvd64krGCaM5yoMoA-sHFs1y/view?usp=sharing"><button type="button" class="btn btn-light">Link da próxima missão</button></a>
                        <%}%>
                        <% if(envios.mission == 'Missão 6'){%>
                            Ops você não possui mais missões, aguarde o resultado da potuação.
                        <%}%>
                    </div>
                <%}%>

                <% if(envios.validar == null){%>
                    <div class = 'alert alert-secondary'>
                        <%=envios.mission%> : Em análise.
                    </div>
                <%}%>

                <% if(envios.validar == 2){%>
                    <div class = 'alert alert-danger'>
                        <%=envios.mission%> : Não foi dessa vez, tente novamente.
                    </div>
                <%}%>
                
            <% }) %>
        <%}%>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>
