<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>
<body>
    <div class = "container mt-4">
         <div class="card">
                
                <div class="card-header">
                    <h4>Missões disponíveis: </h4>
                </div>
                <div class="card-body">
                     <div class="card">
                        <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <a class="dropdown-item" target= "_blank" href="https://drive.google.com/file/d/1gV-clGM7eIVKiHIzE-b8uu5PfpK6LZwA/view?usp=sharing">Missão 1</a>
                        </h2>
                        </div>
                                <% if(disp.validar == 1 && disp.mission == 'Missão 2'){%>
                                    <div class = 'alert alert-success mt-2'>
                                        <%=disp.mission%> : Correto.
                                    </div>
                                <%}%>
                        </div>
                        <%=disp.mission%>
                        <%=disp.validar%>

                    </div>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>




